torch
torchaudio
transformers
accelerate

sounddevice
soundfile
edge-tts
pygame
yt-dlp

numpy
scipy

ollama

huggingface_hub

rich

python-dotenv

requests

feedparser

beautifulsoup4

psutil
